<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="1.2.0" targetFramework="net45" />
  <package id="Castle.DynamicProxy" version="2.2.0" targetFramework="net45" />
  <package id="HtmlElements" version="1.1.0.9" targetFramework="net45" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="NLog" version="1.0.0.505" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Selenium.Support" version="2.37.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.46.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="SpecRun.SpecFlow" version="1.2.0" targetFramework="net45" />
  <package id="WebDriver.ChromeDriver.win32" version="2.16.0.0" targetFramework="net45" />
  <package id="WebDriver.IEDriverServer.win32" version="2.44" targetFramework="net45" />
</packages>